* {
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
}

body {
    height: 100vh;
}

:root {
  --background-color: rgb(243, 222, 215);
}

#error-message {
  display: none;
}

.project-row, .user-row {
  font-weight: bold;
  background-color: #f5f5f5;
}

.table-header {
  background-color: #f5f5f5;
}

.level-2 td:first-child {
  padding-left: 40px;
}
.level-1 td:first-child {
  padding-left: 20px;
}

.toggle-icon {
  cursor: pointer;
  user-select: none;
}

.hidden {
  display: none;
}

.dropdown-menu {
  background-color: var(--background-color);
}

.dropdown-item {
  color: black;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--background-color);
  color: black;
  text-decoration: underline;
}

.form-check-input:checked {
  background-color: #dc3545;
  border-color: #dc3545;
}