* {
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
}


.btn_edit_task, .btn_edit_prj {
    display: none;
  }
  
.task:hover .btn_edit_task {
     display: block; 
}

.project:hover .btn_edit_prj {
    display: block; 
}

.btn-status {
  width: 20vw;
  height: 7vh;
  text-align: center;
  font-size: larger;
}

.fa-sharp:hover {
  transform: scale(1.4);
  transition: transform 0.3s;
}