{% from 'bootstrap/wtf.html' import form_field %}
<form id="ModalForm_edit_project" name="stepForm" class="form" method="post">
    <div class="modal-header bg-danger bg-gradient">
        <h4 class="modal-title text-light">{{ title }}</h4>
    </div>
    <div class="modal-body">
        {{ form.hidden_tag() }}
        {{ form_field(form.name) }}
        {{ form_field(form.description) }}
        {{ form_field(form.hour_rate) }}
        {{ form.upload }}

         <div class="container-fluid my-2">
          <ul class="nav nav-tabs" id="myTab">
              <li class="nav-item">
                  <a href="#notes" class="nav-link active" data-bs-toggle="tab">Notes</a>
              </li>
              <li class="nav-item">
                  <a href="#files" class="nav-link" data-bs-toggle="tab">Files</a>
              </li>
          </ul>
          <div class="tab-content">
              <div class="tab-pane fade show active" id="notes">

                    <div class="container">
                        <div class="input-group mb-3 mt-4">
                            <input name="note-detail" type="text" class="form-control" placeholder="new note" id="input_add_note">
                            <button type="button" name ="button_add_note" id="button_add_note" onclick="addNote(true)" data-id-task="{{ project['id'] }}"><i class="fa-sharp fa-solid fa-plus fa-lg" style="color: #dd4151;"></i> </button>
                        </div>
                      <div class="qa-message-list scroll-part" id="notes_list">
                        {% for note in notes %}
                        <div class="message-item">
                          <div class="message-inner">
                            <div class="message-head clearfix">
                              <div class="user-detail">
                                <div class="post-meta">
                                  <div class="asker-meta">
                                    <span class="qa-message-what"></span>
                                    <span class="qa-message-when">
                                      <span class="qa-message-when-data">{{ note.date }}</span>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="qa-message-content">
                              {{ note.detail }}
                            </div>
                          </div>
                        </div>
                        {% endfor %}

                      </div>
                    </div>
              </div>
              <div class="tab-pane fade" id="files">

                    <form id="upload-form">
                      <input type="file" id="file-input">
                      <button type="button" id="button_upload" onclick="uploadFile(true)" data-id-task="{{ project['id'] }}">Upload</button>
                    </form>

                      <div class="container scroll-part">
                        <ul id="file-list" class="list-group">
                            {% for file in files %}
                              <li class="list-group-item d-flex justify-content-between align-items-center" data-file-id="{{ file['id'] }}">
                                {{ file.name }}
                                <div class="btn-group" role="group" aria-label="File Actions">
                                  <button type="button" onclick="openFile({{ file['id'] }}, true)" data-id-file="{{ file['id'] }}" class="btn btn-primary"><i class="fas fa-eye"></i></button>
                                  <button type="button" onclick="downloadFile({{ file['id'] }}, true)" data-id-file="{{ file['id'] }}" class="btn btn-secondary"><i class="fas fa-download"></i></button>
                                  <button type="button" onclick="deleteFile({{ file['id'] }}, true)"  data-id-file="{{ file['id'] }}" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                </div>
                              </li>
                            {% endfor %}
                        </ul>
                      </div>

              </div>
          </div>
      </div>

    <div class="modal-footer">
        <button type="button" id="delete_project" class="btn text-light bg-danger bg-gradient" data-dismiss="modal">Delete</button>
    </div>
</form>