{% from 'bootstrap/wtf.html' import form_field %}
<form id="ModalForm_edit_task" name="stepForm" class="form" method="post">
    <div class="modal-header bg-danger bg-gradient">
        <h4 class="modal-title text-light">{{ title }}</h4>
    </div>
    <div class="modal-body">
        {{ form.hidden_tag() }}
        {{ form_field(form.details) }}
        {{ form_field(form.hours) }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary bg-danger bg-gradient" data-dismiss="modal">Delete</button>
    </div>
</form>