{% from 'bootstrap/wtf.html' import form_field %}
<form id="ModalForm_edit_task" name="stepForm" class="form" method="post">
    <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        {{ form.hidden_tag() }}
        {{ form_field(form.details) }}
        {{ form_field(form.hours) }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
    </div>
</form>