<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
    <link rel="stylesheet" href="../static/style.css">
    <title>Task manager</title>
</head>
<body style="background-color: rgb(245, 218, 208);">

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--    <script type=text/javascript>-->
<!--            $(function() {-->
<!--              $('a.add_button').bind('click', function(e) {-->
<!--                e.preventDefault()-->
<!--                $.getJSON('/add_product_to_cart_from_products/' + e.target.id,-->
<!--                    function(data) {-->
<!--                  //do nothing-->
<!--                });-->
<!--                return false;-->
<!--              });-->
<!--            });-->
<!--    </script>-->

    <nav class="navbar navbar-expand-lg bg-danger bg-gradient">
        <div class="container-fluid">
            <a class="navbar-brand fs-3 text-light" href="#">Task manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
        </div>
    </nav>


    <form method="POST" id="main_form">

    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-2 projects">
                <div class="w-100 d-flex mb-2">
                    <h3>Projects</h3>
                    <button type="button" class="mx-2 btn btn-danger">+</button>
                </div>
                <div class="btn-group-vertical w-100" role="group" aria-label="Vertical radio toggle button group">
                    {% for project in all_projects %}
                        {% if current_project == project['id'] %}
                            <input type="radio" class="btn-check" name="project" value="{{ project['id'] }}" id="project-{{ project['id'] }}" autocomplete="off" checked>
                        {% else %}
                            <input type="radio" class="btn-check" name="project" value="{{ project['id'] }}" id="project-{{ project['id'] }}" autocomplete="off">
                        {% endif %}
                        <label class="btn btn-outline-danger" for="project-{{ project['id'] }}">{{ project['name'] }}</label>
                    {% endfor %}
                </div>

            </div>

            <div class="col-10 tasks">
                <div class="row">
                    <div class="col-3">
                        <!-- <div class="card bg-light text-center" style="height: 50px;">New</div> -->
                        {% if current_status == 'new' %}
                            <input type="radio" class="btn-check" name="status" value="new" id="status_new" autocomplete="off" checked>
                        {% else %}
                            <input type="radio" class="btn-check" name="status" value="new" id="status_new" autocomplete="off">
                        {% endif %}
                        <label class="btn btn-secondary " for="status_new">New</label>
                    </div>        
                    <div class="col-3">
                        {% if current_status == 'in_operation' %}
                            <input type="radio" class="btn-check" name="status" value="in_operation" id="status_in_operation"  autocomplete="off" checked>
                        {% else %}
                            <input type="radio" class="btn-check" name="status" value="in_operation" id="status_in_operation"  autocomplete="off">
                        {% endif %}
                        <label class="btn btn-secondary" for="status_in_operation">In operation</label>
                    </div>    
                    <div class="col-3">
                        {% if current_status == 'complete' %}
                            <input type="radio" class="btn-check" name="status" value="complete" id="status_complete"  autocomplete="off" checked>
                        {% else %}
                            <input type="radio" class="btn-check" name="status" value="complete" id="status_complete"  autocomplete="off">
                        {% endif %}
                        <label class="btn btn-secondary " for="status_complete">Complete</label>
                    </div>    
                    <div class="col-3">
                        {% if current_status == 'archive' %}
                            <input type="radio" class="btn-check" name="status" value="archive" id="status_archive"  autocomplete="off" checked>
                        {% else %}
                            <input type="radio" class="btn-check" name="status" value="archive" id="status_archive"  autocomplete="off">
                        {% endif %}
                        <label class="btn btn-secondary " for="status_archive">Archive</label>
                    </div>    
                </div>
                <div class="row">
                    {% for task in all_tasks %}
                        <div>{{ task['details'] }}</div>
                    {% endfor %}
                </div>
            </div>       
        </div>
    </div>

    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">TEST</button>
    </form>

    <script src="../static/script.js"></script>
    <script src={{url_for('static', filename='script.js')}}></script>   
</body>
</html>